@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&family=Roboto:wght@400;900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.material-icons {
  vertical-align: -5px;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.nav-wrap {
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.nav {
  max-width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 3px 0px;
  border-radius: 5px;
}
.logo h2 {
  font-family: "Fira Code", calibri;
}

.btns button {
  padding: 7px 25px;
  border: 1px solid black;
  border-radius: 5px;
  background: black;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Fira Code", calibri;
}
.btns button a {
  color: white;
}
.btns button a:hover {
  transition: 0.2s all;
  background: white;
  color: black;
}
.btns button:hover {
  transition: 0.2s all;
  background: white;
  color: black;
}

.container {
  max-width: 90%;
  margin: auto;
}

.banner {
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.banner-text {
  font-family: "Fira Code", calibri;
}

.banner p {
  font-family: "Fira Code", calibri;
}

.add-btn {
  position: fixed;
  top: 90%;
  left: 95%;
}

.add-btn button {
  padding: 12px;
  border-radius: 100%;
  border: none;
  border: 1px solid black;
  cursor: pointer;
  background: #000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: white;
}

.add-btn span {
  font-size: 22px;
}

.empty {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.empty span {
  font-size: 80px;
  color: rgb(212, 212, 212);
}

.empty h1 {
  color: rgb(212, 212, 212);
  font-family: "Fira Code", calibri;
}

.heading {
  font-family: "Fira Code", calibri;
  height: 5vh;
  display: flex;
  align-items: center;
}

.form {
  min-height: 75vh;
  position: absolute;
  top: 12%;
  left: 35%;
  width: 400px;
  padding: 25px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  transform: translateY(-120%);
  z-index: 5;
  position: fixed;
}

form input {
  padding: 10px 10px;
  font-family: "Fira Code", calibri;
  outline: none;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 25vh;
  border-radius: 5px;
  outline: none;
  padding: 10px;
}

form input[type="submit"] {
  cursor: pointer;
  background: dodgerblue;
  color: white;
  border: none;
}

form label {
  font-family: "Fira Code", calibri;
}

::placeholder {
  font-family: "Fira Code", calibri;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-slider {
  transition: 0.3s all;
  transform: translateY(0%);
}
.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0%;
  display: none;
  background: rgba(0, 0, 0, 0.295);
  z-index: 3;
}
.show {
  display: block;
}
.card {
  height: 35vh;
  width: 380px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-family: "Fira Code", calibri;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid transparent;
}
.card:hover {
  border-color: black;
  transition: 0.2s all;
}
.info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info img {
  height: 50px;
}

.cards {
  padding-top: 20px;
  min-height: 65vh;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.new {
  color: white;
  padding: 5px;
  background: black;
  border-radius: 100%;
  border: 1px solid black;
}
.new:hover {
  background: white;
  color: black;
  transition: 0.2s all;
}
.new-window {
  position: relative;
  left: 102%;
  bottom: 25%;
}
.desc {
  padding-top: 10px;
}
.category {
  padding-top: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .account {
  padding: 5px 15px;
  border: 2px solid rgba(30, 143, 255, 0.322);
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  left: 40px;
  position: absolute;
  background-color: #ffffff;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: "Fira Code";
  border-radius: 5px;
  flex-direction: column;
  z-index: 1;
}
.dropdown-content h2 {
  cursor: pointer;
  padding: 7px 25px;
  border-radius: 5px;
}
.dropdown-content h2:hover {
  transition: 0.2s all;
  background: rgba(0, 0, 0, 0.055);
}
.show {
  display: flex;
}
